<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">

	<meta id="description" name="description" content="">
	<meta id="author" name="author" content="">
	<link id="favicon" rel="shortcut icon" href="favicon.ico">

	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

	<!-- FontAwesome JS-->
	<script src="https://kit.fontawesome.com/842359217c.js" crossorigin="anonymous"></script>

	<!-- Plugins CSS -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">
	<link rel="stylesheet" href="assets/plugins/simplelightbox/simple-lightbox.min.css">

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

	<STYLE>
		body {
			overflow-x: hidden !important;
		}
	</STYLE>
</head>

<body>

	<div class="loadingio-spinner-eclipse-jxj4whxfvsh mx-auto d-block">
		<div class="ldio-io61y66zdh mx-auto d-block">
			<div></div>
		</div>
	</div>


	<div class="docs-page" id="app" v-cloak>
		<header class="header fixed-top no-print">
			<div class="branding docs-branding">
				<div class="container-fluid position-relative py-2">
					<div class="docs-logo-wrapper">
						<button id="docs-sidebar-toggler"
							class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none" type="button">
							<span></span>
							<span></span>
							<span></span>
						</button>
						<div class="site-logo"><a class="navbar-brand"
								href="javascript:window.scroll({ top: 0, left: 0, behavior: 'smooth' });">
								<img class="logo-icon me-2" :src="data.logo" style="max-height: 50px;" alt="logo" />
								<span class="logo-text" v-html="data.title">

								</span>

								<!-- Coleta<span class="text-alt">Leite!</span></span> -->
							</a>
						</div>
					</div>
					<!--//docs-logo-wrapper-->
					<div class="docs-top-utilities d-flex justify-content-end align-items-center">
						<div class="top-search-box d-none d-lg-flex">
							<form class="search-form">
								<input type="text" :placeholder="data.searchplaceholder || 'Search'" id="navbar-search"
									name="search" class="form-control search-input">
								<button type="submit" class="btn search-btn" value="Pesquisar"><i
										class="fas fa-search"></i></button>
							</form>
						</div>

						<ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
							<li v-if="data.social" v-for="soc in data.social" class="list-inline-item"><a
									:href="soc.url" :title="soc.name"><i :class="soc.icon" class="fa-fw"></i></a></li>


						</ul>
						<!--//social-list-->
						<a style="margin-right:10px" href="javascript:window.print();"
							class="btn btn-outline-primary d-none d-lg-flex">{{data.printbutton || "Print"}}</a>
						<a v-if="data.downloadbutton" :href="data.downloadbutton"
							class="btn btn-primary d-none d-lg-flex">Download</a>
					</div>
					<!--//docs-top-utilities-->
				</div>
				<!--//container-->
			</div>
			<!--//branding-->
		</header>
		<!--//header-->


		<div class="docs-wrapper">
			<div id="docs-sidebar" class="docs-sidebar">
				<div class="top-search-box d-lg-none p-3">
					<form class="search-form">
						<input type="text" :placeholder="data.searchplaceholder || 'Search'" id="sidebar-search"
							name="search" class="form-control search-input">
						<button type="submit" class="btn search-btn" value="Pesquisar"><i
								class="fas fa-search"></i></button>
					</form>
				</div>
				<nav id="docs-nav" class="docs-nav navbar">
					<ul class="section-items list-unstyled nav flex-column pb-3">
						<template v-for="item in data.content">
							<li :id="'menu-section-' + fixId(item.id)" v-if="headerType(item.id) =='h1'"
								class="nav-item section-title mt-3">
								<a class="nav-link scrollto" :href="'#section-'+ fixId(item.id)">
									<span v-if="item.icon" class="theme-icon-holder me-2">
										<i :class="item.icon"></i>
									</span>
									{{item.title}}
								</a>
							</li>
							<li :id="'menu-item-' + fixId(item.id)" v-else class="nav-item">
								<a class="nav-link scrollto" :href="'#item-'+ fixId(item.id)">{{item.title}}</a>
							</li>
						</template>
					</ul>

				</nav>
				<!--//docs-nav-->
			</div>
			<!--//docs-sidebar-->
			<div class="docs-content">

				<div class="container">
					<article v-for="item in data.content" class="docs-article" v-bind:id="'section-' + fixId(item.id)">
						<header class="docs-header">
							<component :is="headerType(item.id)"
								:class="{'docs-heading': (headerType(item.id) =='h1'), 'section-heading': (headerType(item.id) =='h2') }">
								<i style="margin-right:15px" v-if="item.icon" class="text-primary"
									:class="item.icon"></i>
								<span v-if="item.title" v-html="item.title"></span>&nbsp;
								<small v-if="data.copydialog"> <i style="cursor:pointer;color: gray;font-size: 70%;"
									class="fa fa-link" :data-copylink="sectionLink(fixId(item.id))"
									:data-text="data.copydialog"
									onclick="copyLink(this)"></i></small>
								<!-- Toast para cópia de link -->
								<div id="copy-toast" class="alert alert-success" role="alert" style="display:none;position:fixed;top:20px;right:20px;z-index:9999;min-width:200px;text-align:center"></div>
							</component>
							<small v-if="item.date && item.date != ''">{{data.datelabel}} {{item.date}}
								<br />
								<br />
							</small>

						</header>
						<section
							:class="{'docs-intro': (headerType(item.id) =='h1'), 'docs-section': (headerType(item.id) =='h2') }"
							v-bind:id="'item-' + fixId(item.id)">

							<p v-html="item.content"></p>
							<small v-if="data.viewraw && item.contentfile"><a :href="item.contentfile"
									target="_blank">{{data.viewraw}}</a> </small>

							<figure :class="'simplelightbox-gallery-' + fixId(item.id)" class="row mb-3">
								<div class="col-12 col-md-4 mb-3 img-print" v-if="item.lightbox"
									v-for="img in item.lightbox">
									<a v-bind:href="img.image">
										<img class="figure-img img-fluid shadow rounded print-app"
											v-bind:src="img.image" alt="" v-bind:title="img.title" />
									</a>
								</div>

							</figure>

							<template v-if="item.alerts" v-for="alert in item.alerts">
								<div class="callout-block me-1"
									:class="'callout-block-' + (alert.type || 'info').toLowerCase()">
									<div class="content">
										<h4 class="callout-title">
											<span class="callout-icon-holder">
												<i :class="alert.icon || getIconByType(alert.type)"></i>
											</span>
											&nbsp;
											{{alert.label || getLabelByType(alert.type) }}
										</h4>
										<p v-html="alert.content"></p>
									</div>
									<!--//content-->
								</div>
							</template>


							<p v-html="item.aftercontent"></p>
							<small v-if="data.viewraw && item.aftercontentfile"><a :href="item.aftercontentfile"
									target="_blank">{{data.viewraw}}</a> </small>
						</section>
						<br />

					</article>
					<!--//col-->
				</div>

			</div>
		</div>
		<!--//docs-wrapper-->

		<footer class="footer no-print">

			<div class="footer-bottom text-center py-5">

				<ul class="social-list list-unstyled pb-4 mb-0">
					<li v-if="data.social" v-for="soc in data.social" class="list-inline-item"><a :href="soc.url"><i
								:class="soc.icon" :title="soc.name" class="fa-fw"></i></a></li>
				</ul>
				<!--//social-list-->

				<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
				<small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a
						class="theme-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for
					developers. <br> Generated with <a class="theme-link" href="http://zonaro.github.io/ShowTheDocs"
						target="_blank">ShowTheDocs!</a>, a documentation generator developed by <a class="theme-link"
						href="http://github.com/zonaro" target="_blank">Zonaro</a></small>


			</div>

		</footer>

	</div>
	<!-- Javascript -->
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<script src="assets/plugins/popper.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/sass/sass.js"></script>
	<!-- <script src="https://unpkg.com/mustache@latest"></script> -->


	<!-- Page Specific JS -->
	<script src="assets/plugins/smoothscroll.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
	<script src="assets/plugins/simplelightbox/simple-lightbox.min.js"></script>
	<script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
	<script src="assets/js/docs.js"></script>
</body>

</html>